@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
    --primary-color: #141414;
    --secondary-color: #3D348B;
    --accent1-color: #FF9F1C;
    --accent2-color: #53EEDF;
   
    --heading-font: 'Onest', serif;
    --paragraph-font: 'Onest', serif;
    
    --nav-background-color: #3D348B;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #26205A;
}

html {
    max-width: 960px;
}

header {
    display: grid;
    grid-template-columns: 1fr 8fr;
    margin: 0 auto;
    padding: 0;
    padding-left: 3rem;
    justify-content: start;
    align-items: center;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    background-color: var(--secondary-color);
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3rem;
}

a {
    text-decoration: none;
}

header nav a {
    margin: 0.3rem;
    padding: 0.5rem 0.9rem;
    border-radius: 0.3rem;
    font-weight: 600;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
}

figure {
    max-width: 13rem;
    font-family: var(--paragraph-font);
    margin: 0 auto;
    background-color: var(--accent2-color);
    padding: 1rem;
    border-radius: 0.4rem;
}

figure img {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.6);
}

figcaption {
    padding-top: 0.6rem;
}

form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    grid-row: span 2;
    border-radius: 1rem;
    font-family: var(--paragraph-font);
    font-size: 1.1rem;
    background-color: white;
}

legend {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--accent1-color);
}

fieldset {
    padding: 1.6rem;
    border: none;
}

input[type=radio], input[type=checkbox] {
    width: 20px;
    height: 20px;
}

input, textarea {
    font-family: Onest;
    font-size: 1.2rem;
    padding: 0.2rem;
}

textarea {
    resize: none;
}

input[type=text], input[type=email], textarea {
    width: 100%;
}

button {
    margin-top: 1rem;
    margin-left: 6.5rem;
    padding: 0.8rem 1rem;
    font-family: Onest;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 4rem;
    background-color: var(--nav-background-color);
    color: white;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 0 0.8rem;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

footer a {
    text-decoration: none;
}

/* Class Selectors */

.heading {
    margin: 0 auto;
    width: 10rem;
    border-bottom: 0.3rem solid var(--accent2-color);
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-top: 9px solid var(--secondary-color);
    background-color: gainsboro;
}

.phone, .email, .address {
    display: grid;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
}

.phone, .email {
   order: 1;
   height: 210px;
   justify-content: center;
   align-content: center;
   justify-items: center;
   align-items: center;
   margin-bottom: 1.5rem;
}

.phone img, .email img {
    margin-bottom: 1rem;
}

.address {
   height: 510px;
   grid-row: span 2;
   grid-template-columns: 1fr 9fr;
   margin-right: 1.9rem;
}

.address iframe {
    grid-column: span 2;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem 0;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.caption {
    font-weight: 400;
}

.requestform {
    display: grid;
    margin-top: 2.5rem;
    padding: 2rem;
    grid-template-columns: 1fr 2fr;
    justify-content: space-around;
    background-color: var(--secondary-color);
}

.form-item {
    padding-top: 1rem;
}
.form-heading {
    margin-right: 2rem;
}

.form-heading h2 {
    font-size: 3rem;
    color: white;
}

.sociallinks a {
    background-color: white;
    margin: 0.6rem;
    padding: 0.2rem;
    border-radius: 2rem;
}