@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
    --primary-color: #141414;
    --secondary-color: #3D348B;
    --accent1-color: #FF9F1C;
    --accent2-color: #43DBCC;
   
    --heading-font: 'Onest', serif;
    --paragraph-font: 'Onest', serif;
    
    --nav-background-color: #3D348B;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #26205A;
}

html {
    max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 1px 20px black;
}

.hero article {
    position: absolute;
    top: 10rem;
    right: 0;
    left: 0;
    padding: 1rem 3rem 1rem 4rem;
    font-weight: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero article img {
    float: right;
    width: 300px;
}

.hero article p {
    margin-right: 20rem;
}

footer a {
    text-decoration: none;
}