@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #141414;
    --secondary-color: #3D348B;
    --accent1-color: #FF9F1C;
    --accent2-color: #43DBCC;
   
    --heading-font: 'Onest', serif;
    --paragraph-font: 'Onest', serif;
    
    --nav-background-color: #3D348B;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #26205A;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}