@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Onest;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    font-weight: 500;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

h1 {
    color: steelblue;
}

main {
    grid-column: 2/3;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    margin-bottom: 0.2rem;
    border: 1px solid #3d78a9;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 0.8rem;
    left: 6.9rem;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #3d78a9;
    text-align: center;
}

/* Class Selectors */

.box {
    clear: right;
    margin: 0.3rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0.2rem;
    background-color: #3d78a9;
    color: white;
}

.box a {
    color:white;
}

.grid {
    display: grid;
}

